# don't want these checked in
data/
radar_nowcasting/experiments/
logs/tboardlogs/

__pycache__/

# Data and logs
*.log
*.h5
*.hdf5

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


